<div class="navbar">
  <div class="logo">
    <h1 class="hypnosText--TituloGrande hypnosColor--amarelo">vetHypnos</h1>
  </div>

  <div class="user-card">
    <div class="user-avatar">
      <img src="../../../assets/images/userImg.png" alt="Foto Usuário">
    </div>
    <div class="user-info">
      <h3 class="user-name hypnosText--fonte1">Nome usuário</h3>
      <p class="user-specialization">Especialização</p>
    </div>
  </div>

  <button class="painelPrincipal" type="button">Painel Principal</button>

  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="#">Pacientes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Medicamentos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Prontuários</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Relatórios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Tutores</a>
    </li>
  </ul>

  <div class="logout">
    <button>Sair</button>
  </div>

  <footer>
    <p>&copy; 2024 vetHypnos</p>
  </footer>
</div>
